* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin: 0;
}
.contant {
  width: 700px;
  margin: 68px auto;
  padding: 0 48px;
}
.logo{
  width: 104px;
  margin-bottom: 24px;
}
.catalog {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin: 24px 0;
}
.title {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 40px 0 8px;
}
.title-date {
  font-size: 16px;
  color: #000000;
  margin: 8px 0 24px;
}
.images {
  width: auto;
  height: 194px;
  overflow: scroll;
  white-space: nowrap;
}
.image-size {
  height: 100%;
}
.more-button {
  text-decoration: none;
  display: block;
  background-color: #000000;
  font-size: 16px;
  color: #ffffff;
  padding: 12px 24px;
  margin: 24px 0 72px;
  width: 150px;
}
.discript-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.discript {
  font-size: 16px;
  color: #000000;
  margin 16px 0 24px;
}
.discript-image {
  width: 100%;
}



